<tr>
	<td><%= task_type_row.id %></td>
	<td><%= task_type_row.code %></td>
	<td><%= task_type_row.description %></td>
	<td><%= translateUserType(task_type_row.user_type) %></td>
	<td><%= task_type_row.priority %></td>
</tr>