<tr>
    <td><%= agent_plugin.name %></td>
    <td><%= agent_plugin.value %></td>
    <td><%= agent_plugin.is_latest_globally_published? ? image_tag("choice-yes.gif") : image_tag("choice-no.gif") %></td>
</tr>