<li style="border-bottom: 1px solid black;">
	<b><%= sam_server.name %></b><br/>
	<%= sam_server.address_line_1 %><br/>
	<%= sam_server.city_name %>, <%= sam_server.code %><br/>
	ID: <%= sam_server.id %><br/>
</li>