<table class="property_table" style="width: 50%;">
    <tbody>
        <tr>
            <td><%= SAM_CUSTOMER_TERM %> ID:</td>
            <td>&nbsp;<%= sam_customer_details.id %></td>
        </tr>
    </tbody>
</table>
