<tr>
	<td style="text-align: left;"><%= link_to(seat_pool_counts.name, sam_customer_subcommunity_seat_pools_path(sam_customer.id, seat_pool_counts.id)) %></td>
	<td><%= seat_pool_counts.seat_count %></td>
</tr>