<tr>
	<td style="text-align: left;"><%= link_to(state_sam_customer.display_name, state_sam_customers_path(state_sam_customer.id)) %></td>
	<td><%= state_sam_customer.sam_customer_count %></td>
</tr>