<tr>
	<td class="standard_link_style"><%= link_to(translate_scholastic_index(task_group.description), 
				unassigned_super_admin_requests_path(:scholastic_index => task_group.id)) %></td>
	<td><%= task_group.number_of_tasks %></td>
</tr>