<%  @page_title = "Entitlement ID #{@entitlement.id}" %>
<div align="center">
<table style="margin: 30px 0px 30px 0px;">
	<tr>
		<td class="breadcrumb_cell">
			<%= link_to("Unassigned Entitlements", entitlements_path) %>
		</td>
		<td class="breadcrumb_cell">&lt;</td>
		<td class="breadcrumb_cell"><%= "Entitlement ID #{@entitlement.id}" %></td>
	</tr>
</table>
</div>
<%= render(:partial => "entitlements/entitlement_details", :object => @entitlement) %>