<tr>
	<td style="text-align: left;"><%= state_sam_customer.name %></td>
	<td><%= state_sam_customer.sam_customer_count %></td>
	<td><%= state_sam_customer.sc_licensing_activated_count %></td>
	<td><%= state_sam_customer.auth_activated_count %></td>
	<td><%= state_sam_customer.update_manager_activated_count %></td>
</tr>