<tr>
	<td><%= entitlement_change.tms_entitlementid %></td>
	<td><%= entitlement_change.created_at.strftime(DATE_FORM) %></td>
	<td style="text-align: left;"><%= entitlement_change.long_message %></td>
</tr>