<tr>
	<td style="text-align: left; width: 10%;"><%= completed_update.day %></td>
	<td style="text-align: left;"><%= completed_update.hour %></td>
	<td style="text-align: left;"><%= completed_update.completed_updates %></td>
</tr>