<tr>
	<td style="text-align: left; width: 10%;"><%= scheduled_update.day %></td>
	<td style="text-align: left;"><%= scheduled_update.hour %></td>
	<td style="text-align: left;"><%= scheduled_update.scheduled_updates %></td>
</tr>