<% form_remote_tag :url => {:action => "search_customer"}, :update => "sam_customers" do -%>
  Search for Customer by Name: <%= text_field_tag(:search_name) %>
  by ID: <%= text_field_tag(:search_id) %>
  <%= submit_tag 'Search' %>
<% end -%>    
 
<div id="sam_customers">
</div>