<table class="data_table" style="width: 90%;">
	<thead>
		<tr class="data_table_first_row">	
			<td>ID</td>
			<td>Name</td>	
			<td></td>
		</tr>
	</thead>
	<tbody>
		<%= render(:partial => "search_customer", 
		           :collection => @search_customers) unless @search_customers.empty? %>
		<% if @search_customers.empty? %>
		  <tr>
		    <td colspan="3" style="text-align: center;">
		      No Customers Found
		    </td>
		  </tr>
		<% end %>
	</tbody>
</table>