<tr>
	<td class="standard_link_style"><%= link_to(open_plcc_counts.name, unassigned_pending_license_count_changes_path(:sam_customer_id => open_plcc_counts.sam_customer_id)) %></td>
	<td><%= open_plcc_counts.code %></td>
	<td><%= open_plcc_counts.ucn %></td>
	<td><%= open_plcc_counts.open_task_count %></td>
</tr>