<tr>
	<td style="text-align: left;"><%= link_to(alert_group.description, group_by_sam_customer_notification_type_notifications_path(alert_group.id)) %></td>
	<td><%= alert_group.the_count %></td>
</tr>