<div align="center" style="text-align: left;">
    New Tasks: <%= daily_task_info.new_task_count %><br/>
    Total Tasks: <%= daily_task_info.total_task_count %><br/>
    Total Dispatched Tasks: <%= daily_task_info.total_assigned_task_count %><br/>
    Total Undispatched Tasks: <%= daily_task_info.total_task_count - daily_task_info.total_assigned_task_count %><br/>
</div>