<tr>
	<td><%= out_of_compliance.sam_customer_id %></td>
	<td><%= out_of_compliance.sam_customer_name %></td>
	<td><%= out_of_compliance.product_name %></td>
	<td><%= out_of_compliance.out_of_compliance_count %></td>
</tr>
