<tr>
    <td><%= unassigned_entitlement_summary_row.org_name %></td>
    <td><%= unassigned_entitlement_summary_row.state_name %></td>
    <td><%= unassigned_entitlement_summary_row.count %></td>
</tr>