<tr>
	<td style="text-align: left;">
		<%= link_to(alert.description, sam_customer_notification_type_notifications_path(sam_customer, alert.id)) %>
	</td>
	<td><%= alert.msg_type %></td>
	<td><%= alert.alert_count %></td>
</tr>