<%  @page_title = "SAMC - Tasks" %>
<h2 align="center">Tasks</h2>
<div style="margin-top: 20px;">
<%= link_to("Unassigned Entitlements", :action => :unassigned_entitlements) %><br>
<%= link_to("No Account Administrators", :action => :no_users) %><br>
<%= link_to("Unassigned SAM Connect Accounts", :action => :unassigned_sam_customers) %><br>
<%= link_to("License Count Discrepancies", :action => :license_count_discrepancies) %><br></div>
<!--<%= link_to("Unrecognized TMS Items", :action => :unrecognized_tms_items) %><br>-->