<tr>
  	<td><%= sam_server_class_info.id %></td>
	<td><%= sam_server_class_info.name %></td>
	<td><%= sam_server_class_info.created_at.strftime(DATE_FORM) %></td>
	<td><%= sam_server_class_info.updated_at.strftime(DATE_FORM) %></td>
	<td><%= sam_server_class_info.communities_string %></td>
</tr>