<h3 align="center">Seat Count Details</h3>
<table class="data_table">
<thead>
    <tr>
        <th>Server ID</th>
        <th>Server Name</th>
        <th>TMS Entitlement ID used for Registration</th>
    </tr>
</thead>
<tbody>
    <%= render(:partial => "server", :collection => servers) %>
</tbody>
</table>