<tr>
	<td><%= entitlement_to_operate_on.tms_entitlementid %></td>
	<td><%= entitlement_to_operate_on.product.description %></td>
	<td><%= entitlement_to_operate_on.license_count %></td>
	<td><%= entitlement_to_operate_on.order_num %></td>
	<td><%= entitlement_to_operate_on.invoice_num %></td>
</tr>