<tr>
	<td><%= link_to(registered_server.id, sam_customer_sam_server_path(sam_customer_id, registered_server)) %></td>
	<td style="text-align: left;"><%= registered_server.name %></td>
	<td><%= registered_server.created_at.strftime('%I:%M:%S %p %m/%d/%y') %></td>
</tr>