<div id="search_results">
<span id="status_indicator" style="padding-top: 500px; color: red;">
Please wait..&nbsp;&nbsp;<%= image_tag("indicator_smallwaitanim.gif", :border => "0" ) %></span>
</div>