<tr>
  <td style="text-align: left; vertical-align: bottom"><%= customer_list.id %></td>
  <td style="text-align: left; vertical-align: bottom"><%= customer_list.name %></td>
  <td style="text-align: left; vertical-align: bottom"><a href="#" onClick="setCustomerId(<%= customer_list.id %>)">Select</a></td>
</tr>