<tr>
  <td style="text-align: left; vertical-align: bottom"><%= check_box_tag("check_box[#{customer_row_by_form.sam_customer_id}]") %></td>
  <td style="text-align: left; vertical-align: bottom"><%= customer_row_by_form.sam_customer_id %></td>
  <td style="text-align: left; vertical-align: bottom"><%= customer_row_by_form.sam_customer_name %></td>
</tr>