<% if(sapling_meta_view.name != "minimumSamVersion" and sapling_meta_view.name != "maximumSamVersion") %>
<tr>
	<td><%= sapling_meta_view.name %></td>
	<td><%= sapling_meta_view.value %></td>
</tr>
<% end %>
