<tr>
  <td style="text-align: left; vertical-align: bottom"><%= server_list.id %></td>
  <td style="text-align: left; vertical-align: bottom"><%= server_list.name %></td>
  <td style="text-align: left; vertical-align: bottom"><a href="#" onClick="setServerId(<%= server_list.id %>)">Select</a></td>
</tr>