<h1>Dashboard</h1>

<br/>

<p class="infographic">
  <b>Use the <a href="/custserv/saplings/index_repository">Saplings List</a> tab to manage the sapling repository and to edit and publish saplings</b>
</p>
 
<p class="infographic">
  <b>Use the <a href="/custserv/saplings/index_fake">Fake Saplings List</a> tab to test fake saplings</b>
</p>

<p class="infographic">
  <b>Use the <a href="/custserv/saplings/index_upload">Upload Sapling</a> tab to upload new sapling to the repository</b>
</p>