<tr>
	<td style="text-align: left; border: 1px solid black;"><%= link_to(favorite_sam_customer.name, sam_customer_path(favorite_sam_customer.id)) %></td>
	<td style=" border: 1px solid black;"><%= favorite_sam_customer.code %></td>
</tr>