<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
  <head>
    <%= stylesheet_link_tag "master_login.css" %>  
    <%= javascript_include_tag :defaults %>
    <title><%= @page_title %></title>    
  </head>
 
  <body id="page-<%= controller.controller_name() -%>" class="action-<%= controller.action_name() -%> CenterPageContent">    
  <div id="wrap-ctr">
    <div id="header">
      <%= render :partial => "/account/header" %>
    </div>  
  
    <%= yield :layout %>
    
    <div id="footer">	
      <%= render :partial => "/common/footer" %>
    </div>
    
  </div> <!-- end id: wrap -->    
      
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4047083-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

  </body>
    
</html>