<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
  	<%= stylesheet_link_tag("master") %>
	<%= stylesheet_link_tag("tables") %>
	<%= stylesheet_link_tag("jeff_task_stuff") %>
	<%= stylesheet_link_tag("jquery-ui") %>
	<%= stylesheet_link_tag("dialog-theme") %>
    <% unless @page_stylesheets.nil? %>
      <% @page_stylesheets.each do |t| %>
        <%= stylesheet_link_tag t %>
      <% end %>
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
	<style type="text/css">
		body { font: 62.5% Verdana, sans-serif; }
		#ucn_search_container {padding: 3px;}
		.ui-dialog .ui-dialog-content {padding: 0px;}
		.modalPopupWindow table td {text-align: left; vertical-align: middle; font-size: 11px; padding-top: 5px; padding-bottom: 5px;}
		.modalPopupWindow table td:nth-child(2n-1) {font-weight: bold;}
		.modalPopupWindow table td a {font-weight: normal;}
		.modalPopupWindow table td a:hover {color: #777777;}
		.org_widget_child_entry_row a {font-weight: normal;}
		.org_widget_child_entry_row a:hover {color: #777777;}
		#org_widget_parent_brief a:hover {color: #777777;}
		.cell_selected {background-color: Khaki;}
	</style>
    <title><%= @page_title %></title>
  </head>
  <% home_page_link = url_for(:controller => :account, :action => :login) %>
  <body id="page-<%= controller.controller_name() -%>" class="action-<%= controller.action_name() -%>">      
  	<div id="canvas"> <!--width independent from body-->
		<div id="header" class="line">
			<div id="samlogo" onclick="location.href='<%= home_page_link %>';" style="cursor: pointer;"></div>
			<dl>
				<dt class="schlogo" onclick="location.href='<%= home_page_link %>';" style="cursor: pointer;"></dt>
				<dt></dt>
			</dl>
			<div class="hide">
				<a href="#content" title="skip navigation" accesskey="2">Skip Navigation</a>
			</div>
			<div id="meta">
				<%= render(:partial => "/common/header_top_links") %>
				<p>Logged in as <strong><%= @current_user.first_name %> <%= @current_user.last_name %></strong></p>
		  	</div> <!-- end meta -->
			<div class="line" id="navigation">
	  			<div class="item" id="primary-nav">
	    			<div class="sap-content">
	    				<%= render(:partial => "/common/new_app_tabs") %>
					</div>
	  			</div> <!-- end primary-nav -->
			</div> <!-- end navigation -->
			<div id="subtabnav"></div>
			<div id="main" class="line">
	  			<div class="item column" id="sidebar-left">
	    			<div class="sap-content">
	    				<div id="block-user-0" class="block block-user">
							<%= render(:partial => "/common/left_sidebar") %>
						</div> <!-- end block-user-0 -->
					</div>
				</div> <!-- end sidebar-left -->
				<div class="item column" id="maincontent">
	    			<div class="sap-content">
		   				<div class="tabs">
		   				</div>
					   	<div id="node-1" class="node clear-block">
							<div class="meta">
							</div>
							<div class="content" id="the-body">
								<% if flash[:notice] %>
	                                <div id="cs_notice_block" style="padding: 0px; margin: 0px;">
	                                	<div id="<%= (flash[:msg_type] == 'info') ? 'cs_notice_message' : 'cs_error_message' %>"><br/>
											<%= flash[:notice] %><br/><br/>
										</div>
									</div>
	                            <% end %>
	                            <%= yield(:layout) %>								
							</div>
						</div>
					</div>
					<div class="item column" id="sidebar-right">
						<div class="sap-content">
							<div id="block-user-3" class="block block-user"></div>
						</div>
					</div> <!-- end sidebar-right -->
				</div> <!-- end maincontent -->
			</div> <!-- end main -->
		</div> <!-- end header -->
		
	 	<div id="footer">
          <%= render :partial => "/common/footer" %>
	  	</div> <!-- end footer -->
	  	
	</div> <!-- end canvas -->
	<!-- snippet from layout was here -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-4047083-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
  </body>
</html>
