<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
  	<%= stylesheet_link_tag("master") %>
	<%= stylesheet_link_tag("tables") %>
	<%= stylesheet_link_tag("jeff_task_stuff") %>
	<%= render(:partial => "/common/org_finder_ui_styles") %>
    <% unless @page_stylesheets.nil? %>
      <% @page_stylesheets.each do |t| %>
        <%= stylesheet_link_tag t %>
      <% end %>
    <% end %>
	<%= render(:partial => "/common/org_finder_ui_scripts", :locals => {:layout_uses_jquery => true, :layout_uses_jqueryui => false}) %>
	<%= javascript_include_tag("cs_tasks") %>
	<%#= javascript_include_tag("jquery/jquery") %>
	
	
	<%= javascript_include_tag("jquery/jquery.form") %>
	<%= javascript_include_tag("jquery/util") %>
	<%= javascript_include_tag("jquery/jquery.simplemodal") %>
	<%= javascript_include_tag("jquery/jquery_modaldialog_support") %>
	
	
	<%#= javascript_include_tag("jquery/jquery.form") %>
	<%#= javascript_include_tag("jquery/util") %>
	<%#= javascript_include_tag("jquery/jquery.simplemodal") %>
	<%= javascript_include_tag("jquery/contact") %>
	<%= javascript_include_tag("jquery/basic") %>
	
	<%= stylesheet_link_tag("basic") %>
	<%= stylesheet_link_tag("confirm") %>
	<%= stylesheet_link_tag("contact") %>
	
	<style type="text/css">
		body { font: 62.5% Verdana, sans-serif; }
		.button-to {display: inline; margin: 0;}
		.button-to div {display: inline;}
		/*table.testing_cells td {border: 1px solid red;}
		#serverlisthead td {border: 1px solid red;}*/
		/*td.task_summary_first_row_cell {}*/
		#favorite_sam_customers_block a:link {color: #444; font-weight: normal;}
		#favorite_sam_customers_block a:visited {color: #444; font-weight: normal;}
		#favorite_sam_customers_block a:hover {color: #777; font-weight: normal;}
		.standard_link_style a:link {color: #444; font-weight: normal;}
		.standard_link_style a:visited {color: #444; font-weight: normal;}
		.standard_link_style a:hover {color: #777; font-weight: normal;}
	</style>

	
    <title><%= @page_title %></title>
    <script type="text/javascript">

		jQuery(document).ready(function () {
			// jQuery.ajaxSetup({ 
			// 				'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
			// 			});
			
			<%= render(:partial => "/common/org_widget_dialog_definer") %>
			<%= render(:partial => "/common/widget_creator", :object => @widget_list) %>
			<%= render(:partial => "/common/widget_onclick_creator", :object => @widget_list) %>
		});
    
		function visi(nr)
		{
			if (document.layers)
			{
				vista = (document.layers[nr].visibility == 'hide') ? 'show' : 'hide'
				document.layers[nr].visibility = vista;
			}
			else if (document.all)
			{
				vista = (document.all[nr].style.visibility == 'hidden') ? 'visible'	: 'hidden';
				document.all[nr].style.visibility = vista;
			}
			else if (document.getElementById)
			{
				vista = (document.getElementById(nr).style.visibility == 'hidden') ? 'visible' : 'hidden';
				document.getElementById(nr).style.visibility = vista;
		
			}
		}

	
        function showStatus() {
            $('status_indicator').show();
        }
        
        function showSubmitIndicator() {
            if ($('submit_indicator'))
                $('submit_indicator').show();
        }
    
        function showSubmitStatus(text_field) {
        
			text_field_value = document.getElementById(text_field).value;
            selected_org_radio = document.alert_form.selected_org;
            size = selected_org_radio.length;
            selected = false;
            if (size == null) {
                selected = selected_org_radio.checked;
            }
            else {
                i = 0;
                while ((selected == false) && (i < size)) {
                    if (selected_org_radio[i].checked)
                        selected = true;
                    i++;
                }
            }
            if (selected == false && text_field_value == "") {
                alert("You must select an organization or specify a value.");
                return false;
            }
            $('submit_indicator').show();
			$$('input.submit_button').each(Form.Element.disable);
            return true;
        }
    
       function reset_status_indicator() {
            if ($('status_indicator')) {
                $('status_indicator').hide();
            }
            if ($('submit_indicator')) {
                $('submit_indicator').hide();
            }
        }
	
	var borderIndex;
	
	function toggleTheDetails(the_id) {
	 borderIndex = $("#task_summary_container_" + the_id).css("borderColor").indexOf("white");
	 if (borderIndex >= 0) {
	 	$("#task_details_" + the_id).slideFadeToggle("fast", "swing", function(){
	 		$("#task_summary_container_" + the_id).css("border", "1px solid black");
			$("#view_details_link_" + the_id).html("Hide Details");
	 	});
	 }
	 else {
	 	$("#view_details_link_" + the_id).html("View Details");
	 	$("#task_summary_container_" + the_id).css("border", "1px solid white");
	 	$("#task_details_" + the_id).slideFadeToggle("fast");
	 }
		/*$("#task_details_" + the_id).slideFadeToggle("fast");
		if (someShit >= 0) 
			$("#task_summary_container_" + the_id).css("border", "1px solid black");
		else
			$("#task_summary_container_" + the_id).css("border", "1px solid white");*/
	}
	
    </script>
  </head>
  <% home_page_link = url_for(:controller => :account, :action => :login) %>
  <body id="page-<%= controller.controller_name() -%>" class="action-<%= controller.action_name() -%>">      
  	<div id="canvas"> <!--width independent from body-->
		<div id="header" class="line">
			<div id="samlogo" onclick="location.href='<%= home_page_link %>';" style="cursor: pointer;"></div>
			<dl>
				<dt class="schlogo" onclick="location.href='<%= home_page_link %>';" style="cursor: pointer;"></dt>
				<dt></dt>
			</dl>
			<div class="hide">
				<a href="#content" title="skip navigation" accesskey="2">Skip Navigation</a>
			</div>
			<div id="meta">
				<%= render(:partial => "/common/header_top_links") %>
				<p>Logged in as <strong><%= @current_user.first_name %> <%= @current_user.last_name %></strong></p>
		  	</div> <!-- end meta -->
			<div class="line" id="navigation">
	  			<div class="item" id="primary-nav">
	    			<div class="sap-content">
	    				<%= render(:partial => "/common/app_tabs_with_ucn_search") %>
					</div>
	  			</div> <!-- end primary-nav -->
			</div> <!-- end navigation -->
			<div id="subtabnav"></div>
			<div id="main" class="line">
	  			<div class="item column" id="sidebar-left">
	    			<div class="sap-content">
	    				<div id="block-user-0" class="block block-user">
							<%= render(:partial => "/common/left_sidebar") %>
						</div> <!-- end block-user-0 -->
					</div>
				</div> <!-- end sidebar-left -->
				<div class="item column" id="maincontent">
	    			<div class="sap-content">
		   				<div class="tabs">
		   				</div>
					   	<div id="node-1" class="node clear-block">
							<div class="meta">
							</div>
							<div class="content" id="the-body">
								<% if flash[:notice] %>
	                                <div id="cs_notice_block" style="padding: 0px; margin: 0px;">
	                                	<div id="<%= (flash[:msg_type] == 'info') ? 'cs_notice_message' : 'cs_error_message' %>"><br/>
											<%= flash[:notice] %><br/><br/>
										</div>
									</div>
	                            <% end %>
	                            <%= yield(:layout) %>								
							</div>
						</div>
					</div>
					<div class="item column" id="sidebar-right">
						<div class="sap-content">
							<div id="block-user-3" class="block block-user"></div>
						</div>
					</div> <!-- end sidebar-right -->
				</div> <!-- end maincontent -->
			</div> <!-- end main -->
		</div> <!-- end header -->
                
        <div id="footer">
          <%= render :partial => "/common/footer" %>
        </div> <!-- end footer -->
        <%= render(:partial => "/common/widget_container_creator", :object => @widget_list) %>
	</div> <!-- end canvas -->
	<!-- Confirm Take Dialog -->
    <div id='confirm_take' style='display:none;text-align:center;'>
        <div class='header'>
            <span>Confirm</span>
        </div>
        <p class='message' style="margin:19px 0px 18px 0px;padding:0px;"></p>
        <div class='buttons'>
            <div class='yes' style="padding-top:6px;" onMouseOver=buttonOver(this) onMouseOut=buttonOut(this)>Work Task</div>
            <div class='no modalClose' style="padding-top:6px;" onMouseOver=buttonOver(this) onMouseOut=buttonOut(this)>Cancel</div>
		</div>
	</div>
	<!-- Confirm Release Dialog -->
	<div id='confirm_release' style='display:none'>

		<div class='header'><span >Confirm</span></div>
		<p class='message'></p>
		<div class='buttons'>

			<div class='yes' style="padding-top:6px;">Release Task</div>
			<div class='no modalClose' style="padding-top:6px;">Cancel</div>
		</div>
	</div>
	
	<% if (@current_user.hasPermission?(Permission.assign_tasks)) %>
    <div id="assignModalContent" style='display:none;margin:0px;padding=0px;'>
        <table id="serverview" class="view" cellspacing="0" style="width:100%;margin:0px;padding:0px;">
            <thead>
                <tr class="parent">
                    <td style="background:#CC6600;"> Assign Task</td>
                    <!--     <td style="text-align:center;border-right:2px solid #fff;"><a href='#' class='modalClose' style='text-decoration:none;color:#fff;'>Close</a></td>-->
                </tr>
            </thead>
        </table>
		<!-- <div> added by dan to prevent the overflow of the names -->
		<div style='overflow: auto;height:360px;'>
        <table cellspacing="1" style="margin-top:5px;width:98%;" id="task_edit">
            <tr class='workDetails'>
                <td colspan=4>The following C/S representatives are available to work this task:	 </td>
            </tr>
            <tr class='workDetails'>
                <td>C/S Rep.</td>
                <td>Status</td>
                <td># Assigned Tasks</td>
                <td>Action</td>
            </tr>
            <%= render(:partial => "tasks/user_list", :collection => @user_list) %>
        </table>
		</div>
        <div class='buttons'>
            <div class='no modalClose' style="padding-top:6px;" onMouseOver=buttonOver(this) onMouseOut=buttonOut(this)>Cancel</div>
        </div>
    </div>
	<% end %>
	
	<%= render(:partial => "/common/org_finder_ui_container") %>
	<!-- snippet from layout was here -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-4047083-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
  </body>
</html>