      <tr>
        <td>&nbsp;<%= dash_hist.samCustomerUcn %></td>
        <td>&nbsp;<%= dash_hist.batchNumber %></td>
        <td>&nbsp;<%= dash_hist.samServerGuid %></td>
        <td>&nbsp;<%= dash_hist.communityId %></td>
        <td>&nbsp;<%= dash_hist.loadStart %></td>
        <td>&nbsp;<%= dash_hist.loadEnd %></td>
      </tr>
