<table class="data_table" style="width: 90%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Force Master Pack</th>
    </tr>
  </thead>
  <tbody>
    <%= (render(:partial => "server_quiz", :collection => server_quiz_info)) %>
  </tbody>
</table>