<%
	server_id = updated_component_quiz_history_row[0]
	server_name = updated_component_quiz_history_row[1]
%>
		<tr>
			<td><%= server_id.to_s %></td>
			<td><%= server_name.to_s %></td>		
		</tr>																				
