  <div id="samlogo" onclick="location.href='/home';" style="cursor: pointer;"></div>
  <dl>
	<dt class="schlogo" onclick="location.href='/home';" style="cursor: pointer;"></dt>
  </dl>
  <div class="hide">
    <a href="#content" title="skip navigation" accesskey="2">Skip Navigation</a>
  </div>
  <div id="meta">
  </div>
      
