<% @page_title = "SAM Connect Reset Password" %>

<div id="the-body">
  <div id="content">
  
        <p>You should receive an email in a few minutes, which will explain how to reset your password.</p>
        <p><%= link_to("Return to Login", :action => :index, :controller => :home) %></p>
  
    </div> <!-- end of "content" -->
</div> <!-- end of "the-body" -->

