<tr>
	<td><%= alert_instance.id %></td>
	<td><%= alert_instance.created_at.strftime(DATE_FORM) %></td>
	<td style="text-align: left;"><%= alert_instance.message %></td>
	<td style="text-align: left;"><%= alert_instance.long_message %></td>
</tr>