
    <tr>
        <td><%= check_box 'email', unapproved.id %></td>
        <td><%= unapproved.generated_date %></td>
        <td><%= unapproved.recipient_address %></td>
        <td><%= unapproved.subject %></td>
    </tr>
