<%= render(:partial => "common/breadcrumb_first_two_levels", :locals => {:sam_customer => sam_customer, :state => state, :site_area_code => site_area_code}) %>
<td>&raquo;</td>
<td><%= render(:partial => "common/sam_customer_breadcrumb_level_modified", :locals => {:site_area_code => site_area_code, :on_target => on_target}) %></td>