<% doc_item = doc_item_inpage %>

<dl class="help">

  <dd class="title">
    <%= doc_item.question %>
  </dd>
  
  <dd id="answer<%=doc_item.id%>" class="answer">
    <%= doc_item.answer %>
    <br />
  </dd>

</dl>