<div id="job_monitor_widget" title="Basic dialog">
	<div id="job_monitor_widget_pane" style="width:100%;">
		<table>
			<tr>
				<td><span class="progressBar" id="pb1">0%</span></td>
			</tr>
			<tr>
				<td><span class="progressBar" id="pb2">50%</span></td>
			</tr>
			<tr>
				<td><input type="button" value="advance" onclick="advance_pct('#pb1');"/></td>
			</tr>
		</table>
	</div>
</div>