<div id="sidebar" style="width:100%">
<%= render(:partial => "/common/left_sidebar_task_counts") %>
</div>
<div id="quick_picks" style="width:100%;">
<%= render(:partial => "/common/favorite_sam_customers", :locals => {:favorite_sam_customers => favorite_sam_customers}) %>
</div>