<div id="org_widget" title="Basic dialog">
	<div id="org_widget_pane" style="width:100%;">
		<table style="width:100%;">
			<tr>
				<td style="border: 0px;text-align: center; padding-top: 200px;">Please wait..&nbsp;&nbsp;<%= image_tag("indicator_smallwaitanim.gif", :border => "0", :id => "status_image", :style => "vertical-align: bottom;" ) %></td>
			</tr>
		</table>
	</div>
</div>