<table style="width:100%;">
	<tr>
		<td style="border:0px; text-align:center; padding-top:200px; font-weight:normal; font-size:12px;">Please wait..&nbsp;&nbsp;<%= image_tag("indicator_smallwaitanim.gif", :border => "0", :id => "status_image", :style => "vertical-align: bottom;" ) %></td>
	</tr>
</table>