<div id="<%= widget_container_definer.element_id %>">
	<div class="widget_popup_gadget" id="<%= widget_container_definer.element_id %>_pane">
		<table style="width:100%; height: <%= (widget_container_definer.height) * 0.85 %>px;">
			<tr>
				<td style="border: 0px;text-align: center;  vertical-align: middle;">Please wait..&nbsp;&nbsp;<%= image_tag("indicator_smallwaitanim.gif", :border => "0", :id => "#{widget_container_definer.element_id}_status_image", :style => "vertical-align: bottom;" ) %></td>
			</tr>
		</table>
	</div>
</div>