jQuery(function() {
	jQuery("#<%= widget_definer.element_id %>").dialog({autoOpen: false, title: "<%= widget_definer.title %>", height: <%= widget_definer.height %>, width: <%= widget_definer.width %>});
});