<h1>New Document Location</h1>
<b>
 Document locations are used to tie documentation items to a location on the website.
<br />

<br />
<%= link_to 'Back to List', doc_locations_path %>
<br />

<%= render :partial => "form" %>

<%= link_to 'Back to List', doc_locations_path %>
<br />
<br />