<table class="entitlementDetails">
	<tr>
		<td class="entitlement" style="width: 18%;"><%= assigned_task_entitlement.entitlement_id %></td>
		<td class="entitlement" style="width: 12%;"><%= assigned_task_entitlement.tms_entitlementid %></td>
		<td class="entitlement" style="width: 20%;"><%= assigned_task_entitlement.created_at %></td>
		<td class="entitlement" style="width: 30%;"><%= assigned_task_entitlement.product_name %></td>
		<td class="entitlement" style="width: 20%;"><%= assigned_task_entitlement.license_count %></td>
	</tr>
</table>