<table class="popup_one_table_pane">
	<thead>
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<%= render(:partial => "show_param", :collection => show_params) %>
	</tbody>
</table>