<tr>
	<td><%= link_to(am_data_disabled_auth_user.name, sam_customer_path(am_data_disabled_auth_user.id)) %></td>
	<td style="text-align: center;"><%= am_data_disabled_auth_user.ucn %></td>
	<td style="text-align: center;"><%= am_data_disabled_auth_user.num_disabled_auth_users %></td>
</tr>