<tr>
	<td><%= link_to(global_data_unmatched_school.name, sam_customer_path(global_data_unmatched_school.id)) %></td>
	<td style="text-align: center;"><%= global_data_unmatched_school.ucn %></td>
	<td style="text-align: center;"><%= global_data_unmatched_school.num_unmatched_schools %></td>
</tr>