<tr>
	<td><%= link_to(global_data_cloned_server.name, sam_customer_path(global_data_cloned_server.id)) %></td>
	<td style="text-align: center;"><%= global_data_cloned_server.ucn %></td>
	<td style="text-align: center;"><%= global_data_cloned_server.num_cloned_servers %></td>
</tr>