<% @page_title = "SAMC - Customer Maintenance Functions" %>
<div>
        <%= link_to("Create Fake Order", :action => :new_fake_order) %><br/><br/>
        <%= link_to("Adjust Virtual Licenses", :action => :adjust_virtuals) %><br/><br/>
</div>

